@font-face {
    font-family: 'Junction';
    src: url('../fonts/junction/junction-regular.woff') format('woff'),
         url('../fonts/junction/junction-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Junction';
    src: url('../fonts/junction/junction-bold.woff') format('woff'),
         url('../fonts/junction/junction-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'Junction';
    src: url('../fonts/junction/junction-light.woff') format('woff'),
         url('../fonts/junction/junction-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/** Montserrat Light **/
@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/montserrat/Montserrat-Light.woff2") format("woff2"),
         url("../fonts/montserrat/Montserrat-Light.woff") format("woff");
}

/** Montserrat Light-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: italic;
    src: url("../fonts/montserrat/Montserrat-LightItalic.woff2") format("woff2"),
         url("../fonts/montserrat/Montserrat-LightItalic.woff") format("woff");
}

/** Montserrat Regular **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/montserrat/Montserrat-Regular.woff2") format("woff2"),
         url("../fonts/montserrat/Montserrat-Regular.woff") format("woff");
}

/** Montserrat Regular-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/montserrat/Montserrat-Italic.woff2") format("woff2"),
         url("../fonts/montserrat/Montserrat-Italic.woff") format("woff");
}

/** Montserrat Medium **/
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/montserrat/Montserrat-Medium.woff2") format("woff2"),
         url("../fonts/montserrat/Montserrat-Medium.woff") format("woff");
}

/** Montserrat Medium-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: italic;
    src: url("../fonts/montserrat/Montserrat-MediumItalic.woff2") format("woff2"),
         url("../fonts/montserrat/Montserrat-MediumItalic.woff") format("woff");
}

/** Montserrat SemiBold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2"),
         url("../fonts/montserrat/Montserrat-SemiBold.woff") format("woff");
}

/** Montserrat SemiBold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: italic;
    src: url("../fonts/montserrat/Montserrat-SemiBoldItalic.woff2") format("woff2"),
         url("../fonts/montserrat/Montserrat-SemiBoldItalic.woff") format("woff");
}

/** Montserrat Bold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/montserrat/Montserrat-Bold.woff2") format("woff2"),
         url("../fonts/montserrat/Montserrat-Bold.woff") format("woff");
}

/** Montserrat Bold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: italic;
    src: url("../fonts/montserrat/Montserrat-BoldItalic.woff2") format("woff2"),
         url("../fonts/montserrat/Montserrat-BoldItalic.woff") format("woff");
}

.base-font {
    font-family: $font-family-base;
}

* {
    transition: all 0.3s ease;
}

a.text-light,
a.text-dark {
    // transition: all 0.3s ease;
    &:hover {
        color: $primary !important;
    }
}

.top-title {
    font-size: 20px;
    display: block;
    color: $dark;
    @extend .mb-3;
}

.pre-line {
    margin-left: 20px;
    position: relative;
    &::before {
        position: absolute;
        content: "";
        height: 2px;
        width: 20px;
        top: 50%;
        left: -20px;
        transform: translateX(-50%);
        background: $secondary;
    }
}

// This fixes the fact that with `markdownify` we can't add `text-light`
// directly onto the generated `h1`, `h2` etc.
.text-white {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $white;
    }
}
@each $color, $value in $theme-colors {
    .text-#{$color} {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        span {
            color: $value;
        }
    }
}
