<head>
  <meta charset="utf-8" />
  <title>{{ .Title }}</title>

  {{/* mobile responsive meta */}}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  {{ $cssslick := resources.Get "css/vendor/slick.css" | minify }}
  {{ $cssslicktheme := resources.Get "css/vendor/slick-theme.css" | minify }}
  {{ $cssmagnific := resources.Get "css/vendor/magnific-popup.css" | minify }}
  {{ $style := resources.Get "scss/style.scss" | resources.ToCSS | minify }}
  {{ $cssleaflet := resources.Get "css/vendor/leaflet.css" | minify }}
  <link rel="stylesheet" href="{{ $cssslick.Permalink }}" />
  <link rel="stylesheet" href="{{ $cssslicktheme.Permalink }}" />
  <link rel="stylesheet" href="{{ $cssmagnific.Permalink }}" />
  <link rel="stylesheet" href="{{ $style.Permalink }}"/>
  <link rel="stylesheet" href="{{ $cssleaflet.Permalink }}" />

  <link rel="shortcut icon" href="{{ "images/favicon.ico" | absURL }}" type="image/x-icon" />
  <link rel="icon" href="{{ "images/favicon.png" | absURL }}" type="image/x-icon" />
</head>
